<div class="card">

    <img src="https://cdn05.carsforsale.com/639de78a826fed63ba9d5c122b621c02/1280x960/1991-austin-mini-rwd.jpg"
        class="card-img-top thumbnail" alt="...">
    <h5 class="card-title">Full Name</h5>

    <div class="card-body">
        <hr>
        <!-- Short-bio -->
        <h6 class="card-title">Short Bio</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        <!-- Email -->
        <h6 class="card-title">Email</h6>
        <p class="card-text">willsmith@gmail.com</p>

        <!-- Phone -->
        <h6 class="card-title">Phone</h6>
        <p class="card-text">666-666-666</p>

    </div>
</div>