<div class="card">
    <div class="new-card-parent">
        <img [src]="selectedUser?.picture.large"
            class="card-img-top img-blur-child" alt="...">
        <div class="img-round-child">
            <img [src]="selectedUser?.picture.large"
                class="card-img-top thumbnail" alt="...">
            <!-- <h5 class="card-title">{{selectedUser?.name}}</h5> -->
            <h5 class="card-title text-light">{{selectedUser?.name.first | uppercase}} {{selectedUser?.name.last | uppercase}}</h5>
            <h6 class="card-title text-light">{{selectedGroup}}</h6>
        </div>
    </div>


    <div class="card-body">
        <hr>
        <!-- Short-bio -->
        <h6 class="card-title">Short Bio</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id ligula metus. Mauris non suscipit enim.</p>

        <!-- Email -->
        <h6 class="card-title">Email:</h6>
        <p class="card-text">{{selectedUser?.email}}</p>


        <!-- Phone -->
        <h6 class="card-title">Phone</h6>
        <p class="card-text">{{selectedUser?.phone}}</p>


    </div>
</div>
