<div class="card">
    <div class="new-card-parent">
        <img src="https://cdn05.carsforsale.com/639de78a826fed63ba9d5c122b621c02/1280x960/1991-austin-mini-rwd.jpg"
            class="card-img-top img-blur-child" alt="...">
        <div class="img-round-child">
            <img src="https://cdn05.carsforsale.com/639de78a826fed63ba9d5c122b621c02/1280x960/1991-austin-mini-rwd.jpg"
                class="card-img-top thumbnail" alt="...">
            <!-- <h5 class="card-title">{{selectedUser?.name}}</h5> -->
            <h5 class="card-title">Fullname</h5>
            <h6 class="card-title">Student</h6>
        </div>
    </div>


    <div class="card-body">
        <hr>
        <!-- Short-bio -->
        <h6 class="card-title">Short Bio</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id ligula metus. Mauris non suscipit enim.</p>

        <!-- Email -->
        <h6 class="card-title">Email</h6>
        <!-- <p class="card-text">{{selectedUser?.email}}</p> -->
        <p class="card-text">email</p>

        <!-- Phone -->
        <h6 class="card-title">Phone</h6>
        <!-- <p class="card-text">{{selectedUser?.phone}}</p> -->
        <p class="card-text">666-666-666</p>

    </div>
</div>
