<div class="card card-header">
    Search Users
</div>
<div class="card-body">
    <div class="input-group mb-3">
        <span class="input-group-text" (click)="searchArrary()">
            <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" aria-label="Search Box" [(ngModel)]="searchText" (keydown.enter)="searchArrary()">
        <span class="input-group-text" (click)="clearSearchText()">
            <i class="fa fa-times"></i>
          </span>
    </div>
</div>