<div class="container">

  <div class="row">
    <div class="col-8">
      <h1>Users</h1>
      <p>If you want to get contact information to specific user, just select group and then select him from the list below.</p>
      <select name="" id="" class="form-select" [(ngModel)]="apiRequestSeed" (change)="getSeedUsers()">
        <option value="Students">Students</option>
        <option value="Alumni">Alumni</option>
        <option value="Teachers">Teachers</option>
      </select>
      <!-- search bar  -->
      <app-search-bar
      [data]="userData"
      (filteredData)="setData($event)"
      >
    </app-search-bar>
      <!-- user list goes here -->
     <div *ngFor="let item of filteredUserData">
      <div class="card">
        {{item.name.first}} {{item.name.last}}

      </div>
     </div>
    </div>
    <div class="col-4">
      <!-- user details goes here -->
     <router-outlet></router-outlet>
     
    </div>
  </div>
</div>
