<div class="container">

  <div class="row">
    <div class="col-8">
      <h1 >Users</h1>
      <p>If you want to get contact information to specific user, just select group and then select him from the list below.</p>
      <div class="row">
        <div class="col-4">
          <p>Select group of users.</p>
        </div>
        <div class="col-6">
          <select class="form-select" [(ngModel)]="apiRequestSeed" (change)="getSeedUsers()">
            <option value="Students">Students</option>
            <option value="Alumni">Alumni</option>
            <option value="Teachers">Teachers</option>
          </select>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-4">
          <p>Number of users.</p>
        </div>
        <div class="col-6">
          <select class="form-select" [(ngModel)]="numberOfResults" (change)="getSeedUsers()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>

      <!-- search bar  -->
      <app-search-bar
      [data]="userData"
      (filteredData)="setData($event)"
      >
    </app-search-bar>
      <!-- user list goes here -->
      <app-card-list-template
      [title]="'user'"
      [list]="filteredUserData"
      (selectedUser)="setSelectedUser($event)"
      [currentClickedId]="selectedUser?.id"
      ></app-card-list-template>
    </div>
    <div class="col-4">
      <!-- user details goes here -->
      <app-user-details
      [selectedUser] = "selectedUser"
      [selectedGroup] = "apiRequestSeed"
      ></app-user-details>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>
