/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

.test{
    border: 2px solid red;
    border-top-right-radius: 35px;
}

.test2:hover{
    cursor: pointer;
    background-color: grey;
}